In [1]:
import pandas as pd
import numpy as np

In [2]:
file1 = r"H:\Python_exercises\dat205\data\05.NhanVien-merger_1.csv"
file2 = r"H:\Python_exercises\dat205\data\05.NhanVien-merger_2.csv"
data1 = pd.read_csv(file1)
data2 = pd.read_csv(file2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [3]:
pd.merge(\
    left=df1
    ,right=df2
    ,how='left'
    ,on='ID'
    )

,ID,Ho Ten,Gioi Tinh,Sinh Nhat,Bo Phan,Luong,Thuong,So Nam Cong Tac,Nhan Vien ID
0,PS8434,Phùng Nhật Hoa,Female,2023-04-19,HR,5200,770.0,2.0,PS8434
1,PS1728,Nguyễn Thu An,NaN,2023-10-20,IT,5300,690.0,4.0,PS1728
2,PS4914,Lê Phong,Female,2023-11-30,NaN,9300,790.0,3.0,PS4914
3,PS8920,Bùi Phú Đức,NaN,2023-01-30,HR,8700,210.0,0.0,PS8920
4,PS4699,Đinh Hữu Thủy,Male,2023-06-14,Marketing,5200,630.0,7.0,PS4699
5,PS9415,Phùng Đức,Female,2023-03-06,HR,9800,400.0,7.0,PS9415
6,PS6340,Lý Thu Thủy,Female,2023-04-08,HR,4500,510.0,2.0,PS6340
7,PS1883,Nguyễn Nam Phong,Female,2023-03-14,Finance,9400,480.0,9.0,PS1883
8,PS6666,Lý Thành Hoa,Female,2023-12-07,NaN,8500,NaN,NaN,NaN
9,PS7777,Cao Xuân Hồng,Female,2023-04-02,HR,5200,NaN,NaN,NaN