In [2]:
import pandas as pd
import numpy as np

## Y1_1

#### Nạp dữ liệu từ csv, kiểm tra thông tin cơ bản.

In [3]:
pathfile = r"data\covid_19_data.csv"
data = pd.read_csv(pathfile)
df = pd.DataFrame(data)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB
None

#### Hiển thị một số dữ liệu ở đầu và cuối.

In [33]:
print(f'Dữ liệu ở đầu:\n{df.head()}')
print(f'\nDữ liệu ở cuối:\n{df.tail()}')

Dữ liệu ở đầu:
   SNo ObservationDate Province/State  Country/Region      Last Update  \
0    1      01/22/2020          Anhui  Mainland China  1/22/2020 17:00
1    2      01/22/2020        Beijing  Mainland China  1/22/2020 17:00
2    3      01/22/2020      Chongqing  Mainland China  1/22/2020 17:00
3    4      01/22/2020         Fujian  Mainland China  1/22/2020 17:00
4    5      01/22/2020          Gansu  Mainland China  1/22/2020 17:00

   Confirmed  Deaths  Recovered
0        1.0     0.0        0.0
1       14.0     0.0        0.0
2        6.0     0.0        0.0
3        1.0     0.0        0.0
4        0.0     0.0        0.0

Dữ liệu ở cuối:
           SNo ObservationDate     Province/State  Country/Region  \
306424  306425      05/29/2021  Zaporizhia Oblast         Ukraine
306425  306426      05/29/2021            Zeeland     Netherlands
306426  306427      05/29/2021           Zhejiang  Mainland China
306427  306428      05/29/2021    Zhytomyr Oblast         Ukraine
306428  306429      05/29/2021       Zuid-Holland     Netherlands

                Last Update  Confirmed  Deaths  Recovered
306424  2021-05-30 04:20:55   102641.0  2335.0    95289.0
306425  2021-05-30 04:20:55    29147.0   245.0        0.0
306426  2021-05-30 04:20:55     1364.0     1.0     1324.0
306427  2021-05-30 04:20:55    87550.0  1738.0    83790.0
306428  2021-05-30 04:20:55   391559.0  4252.0        0.0

#### Xác định cột không cần thiết, thực hiện loại bỏ để làm sạch

In [34]:
df[['ObservationDate', 'Country/Region', 'Confirmed', 'Deaths', 'Recovered']]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306429 entries, 0 to 306428
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              306429 non-null  int64
 1   ObservationDate  306429 non-null  object
 2   Province/State   228326 non-null  object
 3   Country/Region   306429 non-null  object
 4   Last Update      306429 non-null  object
 5   Confirmed        306429 non-null  float64
 6   Deaths           306429 non-null  float64
 7   Recovered        306429 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 18.7+ MB

#### Chuyển đổi kiểu dữ liệu ở các cột cho phù hợp (ví dụ cột chứa dữ liệu ngày tháng

In [35]:
df['ObservationDate'] = pd.to_datetime(df['ObservationDate'])
df

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
306424,306425,2021-05-29,Zaporizhia Oblast,Ukraine,2021-05-30 04:20:55,102641.0,2335.0,95289.0
306425,306426,2021-05-29,Zeeland,Netherlands,2021-05-30 04:20:55,29147.0,245.0,0.0
306426,306427,2021-05-29,Zhejiang,Mainland China,2021-05-30 04:20:55,1364.0,1.0,1324.0
306427,306428,2021-05-29,Zhytomyr Oblast,Ukraine,2021-05-30 04:20:55,87550.0,1738.0,83790.0
306428,306429,2021-05-29,Zuid-Holland,Netherlands,2021-05-30 04:20:55,391559.0,4252.0,0.0

In [36]:
# data4 = df.groupby('Country/Region')[['Confirmed']].sum().reset_index()

# def classify_countries(row):
#     confirmed_cases = row['Confirmed']
#     if confirmed_cases >= 1000000:
#         return 'high_group'
#     elif 10000 <= confirmed_cases < 1000000:
#         return 'medium_group'
#     elif 0 <= confirmed_cases < 10000:
#         return 'low_group'
#     else:
#         return 'Unknown'

# data4['Type_Group'] = data4.apply(classify_countries, axis=1)
# data4


df4 = df.groupby('Country/Region')[['Confirmed']].sum().reset_index()
df4['Type'] = df4['Confirmed'].apply(
    lambda x: 'high' if x >= 1000000 else
              'medium' if 10000 <= x < 1000000 else
              'low' if 0 <= x < 10000 else
              'Unknown'
)
df4

                     Country/Region   Confirmed    Type
0                        Azerbaijan         1.0     low
1                   ('St. Martin',)         2.0     low
2                       Afghanistan  17026442.0    high
3                           Albania  19768869.0    high
4                           Algeria  27684358.0    high
..                              ...         ...     ...
224              West Bank and Gaza  41819444.0    high
225                           Yemen    962066.0  medium
226                          Zambia  13493953.0    high
227                        Zimbabwe   6484581.0    high
228  occupied Palestinian territory        25.0     low

[229 rows x 3 columns]

## Y1-02

####  Tính tổng số ca nhiễm, tử vong, và khỏi bệnh trên toàn thế giới.

In [37]:
print(f'Tổng số ca nhiễm toàn thế giới: {df['Confirmed'].sum()}')
print(f'Tổng số ca nhiễm toàn thế giới: {df['Deaths'].sum()}')
print(f'Tổng số ca nhiễm toàn thế giới: {df['Recovered'].sum()}')

Tổng số ca nhiễm toàn thế giới: 26252051758.0
Tổng số ca nhiễm toàn thế giới: 624013017.0
Tổng số ca nhiễm toàn thế giới: 15450237912.0

####  Tính tỷ lệ tử vong trên số ca nhiễm

In [38]:
print(f'tỷ lệ tử vong trên số ca nhiễm:\n{df['Deaths'] / df['Confirmed']}')

tỷ lệ tử vong trên số ca nhiễm:
0         0.000000
1         0.000000
2         0.000000
3         0.000000
4              NaN
            ...
306424    0.022749
306425    0.008406
306426    0.000733
306427    0.019852
306428    0.010859
Length: 306429, dtype: float64

####  Lọc dữ liệu cho một quốc gia cụ thể

In [39]:
vietnam_data = df.loc[df['Country/Region'] == 'Vietnam']
vietnam_data

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
81,82,2020-01-23,NaN,Vietnam,1/23/20 17:00,2.0,0.0,0.0
127,128,2020-01-24,NaN,Vietnam,1/24/20 17:00,2.0,0.0,0.0
170,171,2020-01-25,NaN,Vietnam,1/25/20 17:00,2.0,0.0,0.0
218,219,2020-01-26,NaN,Vietnam,1/26/20 16:00,2.0,0.0,0.0
267,268,2020-01-27,NaN,Vietnam,1/27/20 23:59,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
302771,302772,2021-05-25,NaN,Vietnam,2021-05-26 04:20:35,5931.0,44.0,2794.0
303536,303537,2021-05-26,NaN,Vietnam,2021-05-27 04:20:59,6086.0,45.0,2853.0
304301,304302,2021-05-27,NaN,Vietnam,2021-05-28 04:20:36,6356.0,46.0,2853.0
305066,305067,2021-05-28,NaN,Vietnam,2021-05-29 04:20:41,6396.0,47.0,2896.0
305831,305832,2021-05-29,NaN,Vietnam,2021-05-30 04:20:55,6908.0,47.0,2896.0

#### Phân loại các quốc gia thành các nhóm dựa trên số lượng ca nhiễm

In [13]:
df['Confirmed_level'] = df['Confirmed'].apply(lambda x: 'Dưới 100000 ' if 100000 > x >= 0 else 
                                                ('100000 - 200000' if 200000 > x >= 100000 else
                                                ('200000 - 300000' if 300000 > x >= 200000 else 'Trên 300000')))
df.sample(10)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Confirmed_level
163688,163689,11/24/2020,Aysen,Chile,2021-04-02 15:13:53,1221.0,13.0,1167.0,Dưới 100000
99421,99422,08/30/2020,Kansas,US,2021-04-02 15:13:53,41736.0,451.0,0.0,Dưới 100000
128210,128211,10/08/2020,NaN,Israel,2021-04-02 15:13:53,286095.0,1893.0,224873.0,200000 - 300000
213060,213061,01/27/2021,Vermont,US,2021-04-02 15:13:53,11379.0,172.0,0.0,Dưới 100000
114619,114620,09/19/2020,Tula Oblast,Russia,2021-04-02 15:13:53,9808.0,356.0,8801.0,Dưới 100000
65241,65242,07/15/2020,Novosibirsk Oblast,Russia,2021-04-02 15:13:53,7608.0,152.0,5557.0,Dưới 100000
78261,78262,08/02/2020,NaN,Senegal,2021-04-02 15:13:53,10344.0,209.0,6838.0,Dưới 100000
20609,20610,05/01/2020,NaN,Haiti,2020-05-02 02:32:27,76.0,7.0,10.0,Dưới 100000
286463,286464,05/03/2021,Tumbes,Peru,2021-05-04 04:20:34,15266.0,557.0,0.0,Dưới 100000
20520,20521,04/30/2020,Texas,US,2020-05-01 02:32:28,28890.0,847.0,0.0,Dưới 100000